[Desktop Entry]
Name=Clip2text
Type=Application
Exec=bash /home/helio/clip.sh
Icon=~/Imágenes/icons/clipboard.png   # Caso não funcione o ~/ substitue pelo caminho (path) correspondente. 
Terminal=false
